<include file="Public/header" />
<!--header start here-->
<!-- NAVBAR
==================================================-->
<include file="Public/nav" />
<!--header end here-->
<!--about start here-->
<div class="about">
	<div class="container">
		<div class="about-main">
		  <div class="about-top wow fadeInDownBig" data-wow-delay="0.3s">
			<h1>About us</h1>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
		  </div>
		  <div class="about-bottom wow slideInRight" data-wow-delay="0.3s">
		  	<img src="__PUBLIC/images/ab.jpg" alt="" class="img-responsive">
		  	<h2>Righteous indignation and dislike</h2>
		  	<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure</p>
		  </div>
		 <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--about grid start here-->
<div class="our-history">
	<div class="container">
		<div class="our-history">
			<div class="history-top wow rollIn" data-wow-delay="0.3s">
				<h3>Our History</h3>
				<p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents.</p>
			</div>
			<div class="history-bottom"> 
				<div class="col-md-6 history-left  wow slideInLeft" data-wow-delay="0.3s">
					<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice.</p>
				</div>
				<div class="col-md-6 history-right  wow slideInRight" data-wow-delay="0.3s">
					<div class="item item-type-move">
						<a class="item-hover" href="#">						
							<div class="item-info">
								<div class="headline">
									Our Class
									<div class="line"> </div>
								</div>
								<div class="date">February 29, 2016</div>							
							</div>
							<div class="mask"> </div>
					    </a>
						<div class="item-img">
								<img src="__PUBLIC/images/a1.jpg" class="img-responsive" alt="">
						</div>
					</div>
					 <div class="clearfix"> </div>
				</div>
			   <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--about grid end here-->
<!--team start here-->
<div class="team">
	<div class="container">
		<div class="team-main wow zoomIn" data-wow-delay="0.3s">
			<h4>Our Trainers</h4>
			  <ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-1"></div>
									<div class="ch-info-back">
										<h3>Rackham</h3>									
									</div>	
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-2">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-2"></div>
									<div class="ch-info-back">
										<h3>Malorum</h3>										
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-3">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-3"></div>
									<div class="ch-info-back">
										<h3>Bonorum</h3>										
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-4">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-4"></div>
									<div class="ch-info-back">
										<h3>Rackham</h3>										
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
		 </div>
	</div>
</div>
<!--team end here-->
<!--about end here-->
<include file="Public/footer" />