<include file="Public/header" />
<!--header start here-->
<!-- NAVBAR
==================================================-->
<include file="Public/nav" />
<!--header end here-->
<!--contact start here-->
<div class="contact">
	<div class="contact-main">
	   <div class="container">
			<div class="contact-top wow fadeInDownBig" data-wow-delay="0.3s">
				<h1>留言板</h1>
				<p>城阙辅三秦，风烟望五津。与君离别意，同是宦游人。海内存知己，天涯若比邻。无为在歧路，儿女共沾巾。</p>
			</div>
		   <include file="comment" />
		</div>
	</div>
</div>
<!--contact end here-->
<!--&lt;!&ndash;map start here&ndash;&gt;-->
<!--<div class="map">-->
	<!--<div class="container">-->
		<!--<div class="col-md-7 map-left wow slideInLeft" data-wow-delay="0.3s">-->
			<!--<h2>Contact Info</h2>-->
				      <!--<P>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</P>-->
				     <!--<div class="addre">-->
					      <!--<h4>Address</h4>-->
					      <!--<p>Address : Richard McClintock</p>-->
						  <!--<p>New Street : Letraset sheets </p>-->
						  <!--<p>ph : +123 859 6050</p>-->
						  <!--<p>Email : <a href="mailto:info@example.com">example@gmail.com</a></p>-->
					 <!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;map end here&ndash;&gt;-->
<include file="Public/footer" />