<include file="Public/header" />

<include file="Public/nav" />
<!--banner start here-->
 <div class="banner">
 		<div class="ser-strip">
	<div class="container">
		<div data-wow-delay="0.3s" class="ser-strip-main wow rollIn animated" style="visibility: visible; animation-delay: 0.3s; animation-name: rollIn;">
			<h2>Lorem ipsum dolor sit amet, consectetur</h2>
			<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings.</p>
		    <a class="hvr-underline-from-left" href="single.html">Read More</a>
		</div>
	</div>
</div>
 </div>

<div class="bann-grid">
	<div class="container">
		<div class="bann-grid-main wow bounceInRight" data-wow-delay="0.3s">
			<foreach name="photo" item="item">
			<div class="col-md-3 bann-works">
				<a href="{:U('photoDetail', array('id'=>$item['id']))}">
				<div class="ban-setting">
				  <img src="{$item.cover_url}" alt="" class="img-responsive">
				       <div class="captn">
							<h4>{{$item.title}}</h4>
						</div>
				</div>
				</a>
			</div>
			</foreach>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--bann beloew end here-->
<!--your fitness start here-->
<div class="fitness">
	<div class="container">
		<div class="fitness-main">
			<div class="fitness-top wow slideInLeft" data-wow-delay="0.3s">
				<h1>文章推荐</h1>
			</div>
			<include file="post"/>
		</div>
	</div>
</div>
<!--your fitness end here-->

<include file="Public/footer" />