<include file="Public/header" />

<include file="Public/nav" />
<!--banner start here-->
 <div class="banner">
 		<div class="ser-strip">
	<div class="container">
		<div data-wow-delay="0.3s" class="ser-strip-main wow rollIn animated" style="visibility: visible; animation-delay: 0.3s; animation-name: rollIn;">
			<h2>Lorem ipsum dolor sit amet, consectetur</h2>
			<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings.</p>
		    <a class="hvr-underline-from-left" href="single.html">Read More</a>
		</div>
	</div>
</div>
 </div>

<div class="bann-grid">
	<div class="container">
		<div class="bann-grid-main wow bounceInRight" data-wow-delay="0.3s">
			<div class="col-md-3 bann-works">
				<div class="ban-setting">
				  <img src="__PUBLIC__/images/g1.jpg" alt="" class="img-responsive">
				       <div class="captn">
							<h4>Meditation</h4>							
						</div>
                 </div>
				<h6>Facere possimus</h6>
			</div>
			<div class="col-md-3 bann-works">
				<div class="ban-setting">
				  <img src="__PUBLIC__/images/g2.jpg" alt="" class="img-responsive">
				      <div class="captn">
							<h4>Virabhadrasana 4</h4>							
						</div>
                 </div>
				<h6>Nemo enim ipsam</h6>
			</div>
			<div class="col-md-3 bann-works">
				<div class="ban-setting">
				  <img src="__PUBLIC__/images/g3.jpg" alt="" class="img-responsive">
				      <div class="captn">
							<h4>Virabhadrasana 1</h4>							
						</div>
                 </div>
				<h6>Temporibus autem</h6>
			</div>
			<div class="col-md-3 bann-works">
				<div class="ban-setting">
				  <img src="__PUBLIC__/images/g4.jpg" alt="" class="img-responsive">
				      <div class="captn">
							<h4>Vrikshasana</h4>							
						</div>
                 </div>
				<h6>Lorem ipsum dolor</h6>
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--bann beloew end here-->
<!--your fitness start here-->
<div class="fitness">
	<div class="container">
		<div class="fitness-main">
			<div class="fitness-top wow slideInLeft" data-wow-delay="0.3s">
				<h1>Your Fitness</h1>
				<p>Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.But I must explain to you how all this mistaken.</p>
			</div>
			<div class="fitness-bottom">				
				<div class="col-md-7 fitness-rit wow zoomIn" data-wow-delay="0.3s">
					<h4>Blanditiis praesentium voluptatum</h4>
					<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
				     <a href="single.html" class="hvr-underline-from-left">Read More</a>
				</div>
				<div class="col-md-5 fitness-lft wow zoomIn" data-wow-delay="0.3s">
					<img src="__PUBLIC__/images/g5.jpg" alt="" class="img-responsive">
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--your fitness end here-->
<!--testimo start here-->
<div class="testimo">
	<div class="container">
		<div class="testiom-main wow rollIn" data-wow-delay="0.3s">
			 <h2>Testimonial</h2>
			<ul class="rslides" id="slider2">
	      <li>
			<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.</p>
			<h4>Malorum</h4>
	      </li>
	      <li>	      
			<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.</p>
			<h4>Bonorum</h4>
	      	</li>
	      <li>
			<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.</p>
			<h4>Rackham</h4>
	      </li>
	    </ul>
		</div>
	</div>
</div>
<!--testimo end here-->
<div class="beauty-grid">
	<div class="container">
		<div class="beauty-grid-main">
			 <div class="col-md-6 beauty-grid-left wow slideInLeft" data-wow-delay="0.3s">
			 	<h3>Our Class</h3>
			 </div>
			 <div class="col-md-6 beauty-grid-right wow slideInRight" data-wow-delay="0.3s">
			 	<h3>Temporibus autem</h3>
			 	<div class="beauty-text">
			 		<h4>Human happiness</h4>
			 		<p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
			 		<h4>Omnis voluptas</h4>
			 		<p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>	
			 		<a href="single.html" class="hvr-underline-from-left">Read More</a>		 		
			 	</div>
			 </div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>

<include file="Public/footer" />