<include file="Public/header" />
<!--header start here-->
<!-- NAVBAR
==================================================-->
<include file="Public/nav" />
<!--header end here-->
<!--services-->
<div class="service">
	<div class="container">
		<div class="service-main">
			<div class="service-top wow fadeInDownBig" data-wow-delay="0.3s">
				<h1>Services</h1>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
			</div>
			<div class="service-left">
			   <div class="col-md-6 service-right wow slideInLeft" data-wow-delay="0.3s">
				   <div class="item item-type-move">
						<a class="item-hover" href="#">						
							<div class="item-info">
								<div class="headline">
									Our Class
									<div class="line"> </div>
								</div>
								<div class="date">February 29, 2016</div>							
							</div>
							<div class="mask"> </div>
					    </a>
						<div class="item-img">
								<img src="__PUBLIC__/images//s3.jpg" class="img-responsive" alt="">
						</div>
					</div>
				    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries</p>
				    <div class="ser-bwn">				    	
				    </div>
			   </div>
			    <div class="col-md-6 service-right wow slideInRight" data-wow-delay="0.3s">
				   <div class="item item-type-move">
						<a class="item-hover" href="#">						
							<div class="item-info">
								<div class="headline">
									Our Class
									<div class="line"> </div>
								</div>
								<div class="date">February 29, 2016</div>							
							</div>
							<div class="mask"> </div>
					    </a>
						<div class="item-img">
								<img src="__PUBLIC__/images//s2.jpg" class="img-responsive" alt="">
						</div>
					</div>
				    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries</p>
				    <div class="ser-bwn">			    	
				    </div>
			   </div>			   			
			    <div class="clearfix"> </div>
			 </div>
		</div>
	</div>
</div>
<!--services-->
<!--serstrip-->
<div class="ser-strip">
	<div class="container">
		<div class="ser-strip-main wow rollIn" data-wow-delay="0.3s">
			<h2>Lorem ipsum dolor sit amet, consectetur</h2>
			<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings.</p>
		    <a href="single.html" class="hvr-underline-from-left">Read More</a>
		</div>
	</div>
</div>
<!--serstrip-->
<!--train-serv -->
<div class="train-ser">
	<div class="container">
		<div class="train-ser-main">
			<div class="trin-ser-top wow slideInLeft" data-wow-delay="0.3s">
				<h3>Advantages</h3>
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
			</div>
			<div class="train-ser-bottom wow slideInRight" data-wow-delay="0.3s">
				<div class="col-md-4 train-grid">
				  <div class="trin-top-grid">
					<div class="ser-setting">
					  <img src="__PUBLIC__/images//s4.jpg" alt="" class="img-responsive">
					       <div class="captn">
								<h4>Our Class</h4>	
								<p>February 29, 2016</p>						
							</div>
	                 </div>
				  </div>
				  <div class="train-bottom-grid">
				  	<h4>Sed ut perspiciatis</h4>
				  	<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
				  </div>
				</div>
				<div class="col-md-4 train-grid">
				  <div class="trin-top-grid">
					<div class="ser-setting">
					  <img src="__PUBLIC__/images//s5.jpg" alt="" class="img-responsive">
					       <div class="captn">
								<h4>Our Class</h4>	
								<p>February 29, 2016</p>						
							</div>
	                 </div>
				  </div>
				  <div class="train-bottom-grid">
				  	<h4>Neque quisquam est</h4>
				  	<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
				  </div>
				</div>
				<div class="col-md-4 train-grid">
				  <div class="trin-top-grid">
					<div class="ser-setting">
					  <img src="__PUBLIC__/images//s6.jpg" alt="" class="img-responsive">
					       <div class="captn">
								<h4>Our Class</h4>	
								<p>February 29, 2016</p>						
							</div>
	                 </div>
				  </div>
				  <div class="train-bottom-grid">
				  	<h4>Sed ut perspiciatis</h4>
				  	<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
				  </div>
				</div>
			  <div class="clearfix"> </div>
		  </div>
		</div>
	</div>
</div>
<!--train-serv -->
<include file="Public/footer" />>