<include file="Public/header" />

<!--header start here-->
<!-- NAVBAR
==================================================-->
<include file="Public/nav" />
<!--header end here-->
<!--start-single-->
	<div class="single">
		<div class="container">
			<div class="single-top">
				<p class="h4 nav-html">{$navHtml}</p>
				<div class=" single-grid wow slideInRight" data-wow-delay="0.3s">
					<div class="h4 text-center">{$info.title}</div>
					<ul class="blog-ic text-center">
						<li><a href="#"><span> <i  class="glyphicon glyphicon-user"> </i>作者：{$info.author}</span> </a> </li>
						 <li><span><i class="glyphicon glyphicon-time"> </i>时间：{$info.ctime|date="Y-m-d",###}</span></li>
						 <li><span><i class="glyphicon glyphicon-eye-open"> </i>浏览：{$info.click_count}</span></li>
					</ul>
					<div class="content">
						{$info.content}
					</div>
					<div class="row">
						<if condition="$prev">
							<div class="prev col-sm-6">上一篇：<a href="{:U('single', array('id'=>$prev['id']))}">{$prev.title}</a></div>
						</if>
						<if condition="$next">
							<div class="next col-sm-6 text-right"><a href="{:U('single', array('id'=>$next['id']))}">{$next.title}</a>：下一篇</div>
						</if>
					</div>
				</div>
				<include file="comment" />
			</div>
		</div>
	</div>

	<!--end-single-->
<include file="Public/footer" />

	